.loadingParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.loadingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(135, 135, 135); */
    border-radius: 3px;
    padding: 10px;
    height: 300px;
}

@keyframes showBlock {
    to { visibility: visible; }
}

.hiddenMsg{
    animation: showBlock 0s 4s forwards;
    visibility: hidden;
}