.locationParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locationCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 300px;
}