@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body{
  font-family: 'Comfortaa', cursive;
}

p {
  font-size: 1.5em;
}

/* @media all and (max-width: 599px) {
  body {
    width: 70%;
  }
} */