@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body{
  font-family: 'Comfortaa', cursive;
}

.search {
  margin: 2px auto;
  width: 300px;
  border-radius: 3px;
}
